# Ignore raw or generated dataset arrays
attachments/*.csv

# Ignore local python environment or cache files
__pycache__/
*.pyc
.ipynb_checkpoints/
# Ignore the virtual environment directory
venv/
.venv/

# Ignore local Streamlit secrets and runtime configurations
.streamlit/secrets.toml
.streamlit/config.toml
